@page "/simple-data";

<div class="mx-8">
    <h2>Simple Data Lists</h2>

    @if (filterednumbers == null) return;

    @{
    var buttonCss = "bg-purple-600 hover:bg-purple-700 hover:shadow px-3 py-2 text-white font-medium rounded shadow-sm";
    }

    <div class="pb-4">
        <button @onclick="@filterSingleDigitsClicked" class="@buttonCss">Single Digits Only</button>
        <button @onclick="@unfilterClicked" class="@buttonCss">Clear Filter</button>
    </div>

    <div class="grid gap-4 grid-cols-2 md:grid-cols-4 !font-sans">
        @foreach (var number in filterednumbers)
        {
        <div class="flex items-center justify-center bg-white shadow-sm rounded border border-gray-200 px-4 py-3">
            <div class="text-gray-700 text-lg font-medium">@number</div>
        </div>
        }
    </div>
</div>

@code {
    private const int DATA_SIZE = 10001;
    private IEnumerable<int> numbers = new int[DATA_SIZE];
    private IEnumerable<int>? filterednumbers;

    protected override void OnInitialized()
    {
        numbers = Enumerable.Range(0, DATA_SIZE).ToArray();
        filterednumbers = numbers;
    }

    private void filterSingleDigitsClicked()
    {
        filterednumbers = numbers.Where(w => w < 10);
    }

    private void unfilterClicked()
    {
        filterednumbers = numbers;
    }
}
